numpy>=1.23.5
torch>=1.13.1+cu116
opencv-python>=4.7.0.68
torchvision>=0.14.1+cu116
timm>=0.4.9
einops>=0.6.0
tqdm>=4.64.1
requests>=2.28.1
pandas>=1.4.4
plotly>=5.9.0
matplotlib>=3.5.2
filterpy>=1.4.5
catboost>=1.1.1
yolov7detect>=1.0.1
scipy>=1.9.1